@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", cursive !important;
}

.title {
  text-align: center;
  color: #d0114d;
}

.wlight {
  color: #dbdbdb;
}

.light {
  color: #d0114d;
}

.dark {
  color: #820829;
}

.center {
  text-align: center;
}

.centerElement {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.popupActive {
  display: unset;
}

.popupHidden {
  display: none;
}