.userButtonCenter {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.userButton {
  display: flex;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 65px;
  text-align: center;
  height: 35px;
  background-color: #de5882;
  cursor: pointer;
}

.userButtonNonIcon a {
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 400px) {
  .userButton {
    width: 40px;
    min-width: unset !important;
    padding-left: unset !important;
    padding-right: unset !important;
  }

  .Text {
    display: none !important;
  }

  .Icon {
    margin-left: auto !important;
    margin-right: auto;
  }
}

.userButton:hover {
  background-color: #df3d70;
}

.userButton:focus {
  background-color: #dd245f;
}

.userButton a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.Icon {
  margin-left: 5px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
