doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href='https://fonts.gstatic.com' rel='preconnect')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap' rel='stylesheet')
        title Lia
    body(style="background-color: #D0114D; margin: 65px;") 
        div(style="width: 100%; height: 170px; margin-top: 30%;")
            div(style="background-color: white; width: 100%; height: 150px; z-index: 2")
            div(style="background-color: rgba(255, 255, 255, 0.3); width: 100%; height: 150px; margin-left: 35px; margin-top: -150px;")
                p(style="font-family: Montserrat; font-size: 25px;") Work in progress, Lia not yet available 
                